<header class="sticky">
  <div class="enlaces-registro">
    <a href="#">Registro</a>|
    <a href="#">Inicio</a>
  </div>
  <a href="#" class="logo">Blog de Viajes</a>
  <a href="#" class="button"><span class="icon-home"></span> Inicio</a>
  <a href="#" class="button"><span class="icon-user"></span> Autores</a>
</header>
